Repository studona/studona, pull requests merged in 2020-03, with the labels that each got.

#1 feat: add laravel workflow
  .github/workflows/laravel.yml
  tests/Feature/ExampleTest.php
Labels: enhancement

#2 feat: basic vue app
  README.md
  app/Http/Controllers/AppController.php
  package-lock.json
  package.json
  public/css/app.css
  public/js/app.js
  resources/js/app.js
  resources/js/components/App.vue
  resources/js/components/ExampleComponent.vue
  resources/js/router.js
  resources/sass/app.scss
  resources/views/app.blade.php
  resources/views/welcome.blade.php
  routes/web.php
Labels: enhancement

#3 feat: implement internationalization
  README.md
  package-lock.json
  package.json
  public/js/app.js
  resources/js/app.js
  resources/js/components/App.vue
  resources/js/i18n.js
  resources/lang/de.json
  resources/lang/en.json
Labels: enhancement

#5 feat: add doc
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Labels: documentation

#7 Fixed duplicate class.
  database/migrations/2014_10_12_000000_create_srvUsers_table.php
Labels: bug

#20 feat: improve code and implement vuex basics
  README.md
  package-lock.json
  package.json
  public/webfonts/fa-brands-400.eot
  public/webfonts/fa-brands-400.svg
  public/webfonts/fa-brands-400.ttf
  public/webfonts/fa-brands-400.woff
  public/webfonts/fa-brands-400.woff2
  public/webfonts/fa-regular-400.eot
  public/webfonts/fa-regular-400.svg
  public/webfonts/fa-regular-400.ttf
  public/webfonts/fa-regular-400.woff
  public/webfonts/fa-regular-400.woff2
  public/webfonts/fa-solid-900.eot
  public/webfonts/fa-solid-900.svg
  public/webfonts/fa-solid-900.ttf
  public/webfonts/fa-solid-900.woff
  public/webfonts/fa-solid-900.woff2
  resources/js/app.js
  resources/js/i18n.js
  resources/js/store.js
  resources/js/views/Dashboard.vue
  resources/sass/_variables.scss
  resources/views/app.blade.php
  webpack.mix.js
Labels: bug, documentation, enhancement

#21 fix: vuex and dashboard.vue
  resources/js/store.js
  resources/js/views/Dashboard.vue
Labels: bug

#28 Update README.md
  README.md
Labels: documentation

#31 feat: new layout
  resources/js/components/App.vue
  resources/js/components/Navbar.vue
  resources/js/components/Sidebar.vue
  resources/js/layouts/Panel.vue
  resources/js/store.js
  resources/sass/app.scss
  resources/sass/components/navbar.scss
  resources/sass/components/sidebar.scss
  resources/sass/layouts/global.scss
  resources/sass/layouts/panel.scss
  resources/views/app.blade.php
Labels: enhancement

#32 feat: update issue templates
  .github/ISSUE_TEMPLATE/problem.md
Labels: documentation, enhancement

#34 Create stale.yml
  .github/workflows/stale.yml
Labels: documentation, enhancement

#36 feat: add labeler support
  .github/labeler.yml
  .github/workflows/label.yml
Labels: documentation

#37 feat: create LICENSE
  LICENSE
Labels: documentation, enhancement

#39 fix: remove unused link
  README.md
Labels: bug, documentation

#41 feat: improve doc
  README.md
  introductionDE.md
Labels: documentation
